body{
    background-image: url('/static/img/fondoAdmin.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: rgb(100, 100, 100);
    background-blend-mode: soft-light;
}

.colorForm{
    background: #A59D9D;
}

#card_prod {
    transition: transform 0.3s ease-out;
    background: #D9D9D9;
}

#card_prod:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8)
}

#card_plan {
    transition: transform 0.3s ease-out;
    background: #D9D9D9;
}

#card_plan:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8)
}