body{
    background-image: url('/static/img/fondoAdmin.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: rgb(100, 100, 100);
    background-blend-mode: soft-light;
}

.colorForm{
    background: #A59D9D;
}