{% extends 'Admin/baseAdmin.html' %}
{% load static %}
{% block titulo %}
Modif. Area Bodega
{% endblock %}
{% block content %}
<div style="padding: 4%;"></div>
<div style="text-align: center; color: aliceblue;">
  <h1>Modificar Área Bodega</h1>
</div>
<section class="d-flex justify-content-center " id="formulario">
  <div class="card col-sm-6 p-3" style="background-color: gray;">
    <div class="mb-2">
      <form action="{% url 'MODFAREABODEGA' areaBodega.id_area %}" method="POST" id="form" onsubmit="return validarAreaBodega(event) ">
        {% csrf_token %}
        <div id="mensaje-error" style="color: red;">{{ mensaje }}</div>
        <input class="colum" type="hidden" name="txtId" id="txtId" value="{{areaBodega.id_area}}">
        <div class="mb-2 form-input">
          <input type="text" class="form-control" style="border-radius: 10px; text-align: center;" name="sector_area"
            id="sector_area" placeholder="Ingrese nombre sector" autofocus value="{{areaBodega.sector}}">
        </div>
        <div class="mb-2 form-input">
          <input type="number" class="form-control" style="border-radius: 10px; text-align: center;"
            name="anaqueles_area" id="anaqueles_area" placeholder="Ingrese cantidad de anaqueles" autofocus
            value="{{areaBodega.cant_anaq_area}}">
        </div>
        <div class="mb-2 form-input">
          <label for="selectBodega">Selecciona una bodega:</label>
          <select class="form-select" aria-label="Default select example" id="selectBodega" name="selectBodega">
            {% for bodega in bodega %}
            {% if areaBodega.id_bodega.nombre_bodega == bodega.nombre_bodega %}
            <option selected value="{{ bodega.id_bodega }}">{{ bodega.nombre_bodega }}</option>
            {% else %}
            <option value="{{ bodega.id_bodega }}">{{ bodega.nombre_bodega }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="container" style="margin-top: 3%;">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="mb-2 form-input">
                <label for="disponible">Disponible:</label>
                <input type="radio" name="disponible" value="S" id="disponible_si" {% if areaBodega.disponible == 'S' %}checked{% endif %}>
                <label for="disponible_si">Sí</label>
                <input type="radio" name="disponible" value="N" id="disponible_no" {% if areaBodega.disponible == 'N' %}checked{% endif %}>
                <label for="disponible_no">No</label>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid gap-5 d-md-flex justify-content-md-center" style="padding-top: 15%;">
          <a href="{% url 'ADMAREA' %}"><button class="btn btn-danger btn-lg me-md-5"
              type="button">Cancelar</button></a>
          <button class="btn btn-success btn-lg" type="submit">Confirmar</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}