{% extends 'Admin/baseAdmin.html' %}
{% load static %}
{% block titulo %}
Modif. Perfil
{% endblock %}
{% block content %}
<div style="padding: 4%;"></div>
<div style="text-align: center; color: aliceblue;">
    <h1>Modificar Perfil de Usuario</h1>
</div>
<section class="d-flex justify-content-center" id="formulario">
    <div class="card col-sm-6 p-3" style="background-color: gray;">
        <div class="mb-2">
            <form action="{% url 'MODIFPERFIL' perfiles.id_tp_colab %}" method="POST" id="form" onsubmit="return validarPerfil(event)">
                {% csrf_token %}
                <div id="mensaje-error" style="color: red;">{{ mensaje }}</div>
                <input class="colum" type="hidden" name="txtId" id="txtId" value="{{perfiles.id_tp_colab}}">
                <div class="mb-2 form-input nombre">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="nombre_perfil" id="nombre_perfil" placeholder="Ingrese nombre perfil *" autofocus
                        value="{{perfiles.nombre_colab}}" required>
                </div>
                <div class="d-grid gap-5 d-md-flex justify-content-md-center" style="padding-top: 15%;">
                    <a href="{% url 'ADMPERFILES' %}">
                        <button class="btn btn-danger btn-lg me-md-5" type="button">Cancelar</button>
                    </a>
                    <button class="btn btn-success btn-lg" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}