{% extends 'jefe_bodega/base_jefe.html' %}
{% load static %}

{% block titulo %}
Modificar Producto
{% endblock %}

{% block content %}

<style>
    body {
        background-image: url('/static/img/fondoAdmin.png');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-color: rgb(29, 28, 28);
        background-blend-mode: soft-light;
    }
</style>

<section>
    <header class="text-center text-black mt-5" style="font-family: Arial, Helvetica, sans-serif">
        <h1 class="text-white">Modificar Producto</h1>
    </header>

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 mt-3  border rounded-3 colorForm">
                <form action="{% url 'MODIFPROD' id_producto %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3">
                        <p class="fs-4 mb-0" style="height: 20px; color: black;">*</p>
                        <input type="text" maxlength="50" placeholder="Nombre Producto"
                            class="form-control mt-1 text-center" value="{{ producto.nombre_producto }}" name="nombre_producto">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-6">
                                <p class="fs-4 mb-0" style="height: 20px; color: black;">*</p>
                                <input type="number" placeholder="Stock" value="{{ producto.stock }}" class="form-control text-center mt-1" name="stock">
                            </div>

                            <div>
                                <p class="fs-4 mb-0" style="height: 20px; color: black;">*</p>
                                <select class="form-select text-center mt-1" name="rut" id="rut">
                                    {% for nom in clientes %}
                                        {% if nom.rut == producto.rut_id %}
                                            <option value="{{ nom.rut }}" selected>{{ nom.primer_nombre }} {{ nom.apellido_paterno }}</option>
                                        {% else %}
                                            <option value="{{ nom.rut }}">{{ nom.primer_nombre }} {{ nom.apellido_paterno }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <p class="fs-4 mb-0" style="height: 20px; color: black;">*</p>
                                <select class="form-select text-center mt-1" name="id_area" id="area">
                                    {% for area in areas %}
                                        {% if area.id_bodega__areabodega__id_area == producto.id_area.id_area %}
                                            <option value="{{ area.id_bodega__areabodega__id_area }}" selected>{{ area.id_bodega__areabodega__sector }}</option>
                                        {% else %}
                                            <option value="{{ area.id_bodega__areabodega__id_area }}">{{ area.id_bodega__areabodega__sector }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3 text-center mt-3 text-white">
                                <label for="formFile" class="form-label">Subir Foto</label>
                                <input class="form-control" type="file" name="foto_prod" id="formFile" accept="image/*">
                                {% if producto.foto_prod %}
                                    <img src="{{ producto.foto_prod.url }}" class="mt-4 border border-1 rounded border-dark" alt="Foto del Producto" style="max-width: 300px; max-height: 300px;">
                                {% endif %}
                            </div>

                            <div class="d-flex justify-content-between mt-3">
                                <button class="btn btn-success" value="Enviar" type="submit">Confirmar</button>

                                <a href="{% url 'PROD' %}"> <button class="btn btn-danger"
                                        type="button">Cancelar</button></a>
                            </div>

                        </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% if errorProd %}
<script>
    errorProd("{{ error_message }}");
</script>
{% elif exitoProd %}
<script>
    exitoProd("{{ exito_message }}","{{ title }}");
</script>
{% endif %}


{% endblock %}