{% extends template_name %}
{% load static %}

{% block titulo %}
Modificar Producto
{% endblock %}

{% block content %}

<style>
    body {
        background-image: url('/static/img/fondoAdmin.png');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-color: rgb(29, 28, 28);
        background-blend-mode: soft-light;
    }
</style>
<section>
    <h1 class="text-center text-light mt-5">Despachos</h1>

    <div class="container p-4 mt-5">
        {% for suc in sucursales%}
        <div class="row w-75 mx-auto border border-dark text-center mt-4 rounded border-2" style="background: #D9D9D9; height: 150px;">
            <div class="col mt-3">
                <h3 class="p-4 mt-3">{{suc.nombre_sucursal}}</h3>
            </div>
            <div class="col border-start border-dark d-flex justify-content-center border-2">
                <div class="d-flex justify-content-between mt-3">
                    <a href="{% url 'PLTDESP' suc.id_sucursal %}"> <button class="btn btn-outline-info mt-5 rounded-pill text-black" style="background: #D9D9D9;" type="button">Ver PDF</button></a>
                </div>
            </div>


        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}