{% extends 'Admin/baseAdmin.html' %}
{% load static %}
{% block titulo %}
Admin Colaborador
{% endblock %}
{% block content %}

<div style="text-align: center; color: aliceblue; margin-top:2%">
  <h1>Administrar Colaborador</h1>
</div>

<div class="container">
  <div class="container-fluid">
    <div class="d-flex justify-content-between" style="margin-bottom: 2%;">
      <div class="d-grid gap-2 d-md-block">
        <a href="{% url 'AGREEMP' %}"><button class="btn btn-success" type="button"><img src="{% static 'img/icon/add.png' %}" style="max-width: 90%;">Agregar</button></a>
      </div>
    </div>
  </div>
  <table class="table table-striped table-responsive table-hover table-bordered">
    <thead>
      <tr>
        <th>RUT</th>
        <th>Nombre Completo</th>
        <th>Correo</th>
        <th>Perfil</th>
        <th>Bodega</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
    {% for reg in user %}
    
      <tr>
        <th>{{reg.rut}}</th>
        <th>{{reg.primer_nombre}} {{reg.segundo_nombre}} {{reg.apellido_paterno}}</th>
        <th>{{reg.correo}}</th>
        <th>{{ reg.colaborador.id_tp_colab.nombre_colab }}</th>
        <th>{{reg.id_bodega.nombre_bodega}}</th>
        <th>
          <div class="d-grid gap-2 d-md-flex justify-content-md-star">
          <button class="btn btn-danger me-md-2" type="button" onclick="eliminar('{{ reg.rut }}')">
            <img src="{% static 'img/icon/trash.png' %}" style="max-width: 90%;">
          </button>
          <button class="btn btn-warning" type="button" onclick="modificar('{{ reg.rut }}')">
            <img src="{% static 'img/icon/update.png' %}" style="max-width: 50%;">
          </button>
        </div>
        
        </th>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  function eliminar(id) {
    Swal.fire({
      title: 'Desea eliminar Colaborador ' + id + '?',
      showCancelButton: true,
      confirmButtonText: 'Eliminar',
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        location.href = '/eliminar_colaborador/' + id + '/';
      }
    })

  }

  function modificar(id) {
    location.href = '/modificarEmpleado/' + id + '/';
  }

  {% if messages %}
  {% for message in messages %}
  Swal.fire({
    title: "{{ message.tags }}",
    text: "{{ message }}",
    icon: "{{ message.tags }}",
  });
  {% endfor %}
  {% endif %}
</script>

{% endblock %}
