{% extends 'Admin/baseAdmin.html' %}
{% load static %}
{% block titulo %}

{% endblock %}
{% block content %}

<div style="text-align: center; color: aliceblue; margin-top:2%">
  <h1>Administrar Empresa</h1>
</div>

<div class="container">
  <div class="container-fluid">
    <div class="d-flex justify-content-between" style="margin-bottom: 2%;">
      <div class="d-grid gap-2 d-md-block">
        <a href="{% url 'AGREEMPRESA' %}"><button class="btn btn-success" type="button"><img
              src="{% static 'img/icon/add.png' %}" style="max-width: 90%;">Agregar</button></a>
      </div>
    </div>
  </div>
  <table class="table table-striped table-responsive table-hover table-bordered">
    <thead>
      <tr>
        <th>Nombre Empresa</th>
        <th>RUT Empresa</th>
        <th>Descripción</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      {% for reg in empresas %}
      <tr>
        <th>{{reg.nombre_empresa}}</th>
        <th>{{reg.rut_empresa}}</th>
        <th>{{reg.descripcion}}</th>
        <th>
          <div class="d-grid gap-2 d-md-flex justify-content-md-star">
            <button class="btn btn-danger me-md-2" type="button" onclick="eliminar('{{ reg.rut_empresa }}')">
              <img src="{% static 'img/icon/trash.png' %}" style="max-width: 90%;">
            </button>
            <button class="btn btn-warning" type="button" onclick="modificar('{{ reg.rut_empresa }}')">
              <img src="{% static 'img/icon/update.png' %}" style="max-width: 50%;">
            </button>
          </div>

        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  function eliminar(id) {
    Swal.fire({
      title: 'Desea eliminar esta empresa ' + id + '?',
      showCancelButton: true,
      confirmButtonText: 'Eliminar',
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        location.href = '/eliminar_empresa/' + id + '/';
      }
    })

  }

  function modificar(id) {
    location.href = '/modificarEmpresa/' + id + '/';
  }

  {% if messages %}
  {% for message in messages %}
  Swal.fire({
    title: "{{ message.tags }}",
    text: "{{ message }}",
    icon: "{{ message.tags }}",
  });
  {% endfor %}
  {% endif %}
</script>
{% endblock %}