{% extends 'Admin/baseAdmin.html' %}
{% load static %}
{% block titulo %}
Agregar Empleado
{% endblock %}
{% block content %}
<div style="padding: 4%;"></div>
<div style="text-align: center; color: aliceblue;">
    <h1>Agregar Empleado</h1>
</div>
<section class="d-flex justify-content-center " id="formulario">
    <div class="card col-sm-6 p-3" style="background-color: gray;">
        <div class="mb-2">
            <form action="{% url 'AGREEMP' %}" method="POST" id="form" onsubmit="return validarEmpleado(event)">
                {% csrf_token %}
                <script>
                    {% if error_message %}
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: '{{ error_message }}'
                    });
                    {% endif %}
                </script>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="p_nombre_emp" id="p_nombre_emp" placeholder="Ingrese primer nombre" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="s_nombre_emp" id="s_nombre_emp" placeholder="Ingrese segundo nombre" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="ap_apellido_emp" id="ap_apellido_emp" placeholder="Ingrese apellido paterno" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="am_apellido_emp" id="am_apellido_emp" placeholder="Ingrese apellido materno" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="rut_emp" id="rut_emp" placeholder="Ingrese su RUT" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="email" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="mail_emp" id="mail_emp" placeholder="Ingrese correo electrónico" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <label for="selectPerfil">Seleccione perfil de usuario:</label>
                    <select class="form-select" aria-label="Default select example" id="selectPerfil"
                        name="selectPerfil">
                        {% for tpColab in tpColab %}
                        <option value="{{ tpColab.id_tp_colab }}">{{ tpColab.nombre_colab }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-2 form-input">
                    <label for="selectBodega">Selecciona bodega:</label>
                    <select class="form-select" aria-label="Default select example" id="selectBodega"
                        name="selectBodega">
                        {% for bodega in bodega %}
                        <option value="{{ bodega.id_bodega }}">{{ bodega.nombre_bodega }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-2 form-input">
                    <input type="password" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="pass_emp" id="pass_emp" placeholder="Ingrese contraseña" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="password" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="pass_emp_re" id="pass_emp_re" placeholder="repetir contraseña" autofocus>
                </div>
                <div class="d-grid gap-5 d-md-flex justify-content-md-center" style="padding-top: 15%;">
                    <a href="{% url 'ADMCOLABORADOR' %}"><button class="btn btn-danger btn-lg me-md-5"
                            type="button">Cancelar</button></a>
                    <button class="btn btn-success btn-lg" type="submit">Confirmar</button>
                </div>
                <input class="colum" type="hidden" name="txtId" id="txtId" value="2">
            </form>
        </div>
    </div>
</section>
{% endblock %}