{% extends 'Admin/baseAdmin.html' %}
{% load static %}
{% block titulo %}

{% endblock %}
{% block content %}
<div style="padding: 4%;"></div>
<div style="text-align: center; color: aliceblue;">
    <h1>Agregar Producto</h1>
</div>
<section class="d-flex justify-content-center "  id="formulario">
        <div class="card col-sm-6 p-3" style="background-color: gray;">
            <div class="mb-2">
                <form action="#" method="POST" id="form">
                    {% csrf_token %}
                     <div class="mb-2 form-input">
                        <input type="text" class="form-control" style="border-radius: 10px; text-align: center;" name="p_nombre_cli" id="p_nombre_cli" placeholder="Ingrese primer nombre" autofocus required>
                    </div>
                    <div class="mb-2 form-input">
                        <input type="text" class="form-control" style="border-radius: 10px; text-align: center;" name="s_nombre_cli" id="s_nombre_cli" placeholder="Ingrese segundo nombre" autofocus>
                    </div>
                    <div class="mb-2 form-input">
                        <input type="text" class="form-control" style="border-radius: 10px; text-align: center;" name="ap_apellido_cli" id="ap_apellido_cli" placeholder="Ingrese apellido paterno" autofocus required>
                    </div>
                    <div class="mb-2 form-input">
                        <input type="text" class="form-control" style="border-radius: 10px; text-align: center;" name="am_apellido_cli" id="am_apellido_cli" placeholder="Ingrese apellido materno" autofocus required>
                    </div>
                    <div class="mb-2 form-input">
                        <input type="number" class="form-control" style="border-radius: 10px; text-align: center;" name="rut_emp" id="rut_emp" placeholder="Ingrese su RUT" autofocus required>
                    </div>
                    <div class="mb-2 form-input">
                        <input type="email" class="form-control" style="border-radius: 10px; text-align: center;" name="mail_emp" id="mail_emp" placeholder="Ingrese correo electrónico" autofocus required>
                    </div>
                    <div class="mb-2 form-input">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Perfil de Usuario</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                     </div>
                      <div class="mb-2 form-input">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Bodega</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                     </div>
                    <div class="mb-2 form-input">
                        <input type="password" class="form-control" style="border-radius: 10px; text-align: center;" name="pass_cli" id="pass_cli" placeholder="Ingrese contraseña" autofocus required>
                    </div>
                    <div class="mb-2 form-input">
                        <input type="password" class="form-control" style="border-radius: 10px; text-align: center;" name="pass_cli_re" id="pass_cli_re" placeholder="repetir contraseña" autofocus required>
                    </div>            
                    <div class="d-grid gap-5 d-md-flex justify-content-md-center" style="padding-top: 15%;">
                        <a href="{% url 'ADMCOLABORADOR' %}"><button class="btn btn-danger btn-lg me-md-5" type="button">Cancelar</button></a>
                        <button class="btn btn-success btn-lg" type="button" >Confirmar</button>
                    </div>
            </div>
            </form>
    </section>
{% endblock %}