{% extends 'Admin/baseAdmin.html' %}
{% load static %}
{% block titulo %}

{% endblock %}
{% block content %}
<div style="padding: 4%;"></div>
<div style="text-align: center; color: aliceblue;">
    <h1>Agregar Empresa</h1>
</div>
<section class="d-flex justify-content-center" id="formulario">
    <div class="card col-sm-6 p-3" style="background-color: gray;">
        <div class="mb-2">
            <form action="{% url 'AGREEMPRESA' %}" method="POST" id="form" onsubmit="return validarEmpresas(event)">
                {% csrf_token %}
                 <script>
                    {% if mensaje %}
                        Swal.fire({
                            title: 'Error al guardar',
                            text: '{{ mensaje }}',
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        });
                    {% endif %}
                </script>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="nombre_empresa" id="nombre_empresa" placeholder="Ingrese nombre empresa" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="rut_emp" id="rut_emp" placeholder="Ingrese rut: 12345678-k" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <label>Descripción</label>
                    <textarea type="text" rows="8" cols="25" class="form-control" name="descrip_emp" id="descrip_emp"
                        autofocus></textarea>
                </div>   
                <div class="d-grid gap-5 d-md-flex justify-content-md-center" style="padding-top: 15%;">
                    <a href=" {% url 'ADMEMPRESA' %}">
                        <button class="btn btn-danger btn-lg me-md-5" type="button">Cancelar</button>
                    </a>
                    <button class="btn btn-success btn-lg" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
