{% extends 'Admin/baseAdmin.html' %}
{% load static %}
{% block titulo %}

{% endblock %}
{% block content %}
<div style="padding: 4%;"></div>
<div style="text-align: center; color: aliceblue;">
    <h1>Agregar Plan</h1>
</div>
<section class="d-flex justify-content-center " id="formulario">
    <div class="card col-sm-6 p-3" style="background-color: gray;">
        <div class="mb-2">
            <form action="{% url 'AGREPLAN' %}" method="POST" id="form" onsubmit="return validarPlan(event)">
                {% csrf_token %}
                 <script>
                    {% if mensaje %}
                        Swal.fire({
                            title: 'Error al guardar',
                            text: '{{ mensaje }}',
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        });
                    {% endif %}
                </script>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="nombre_plan" id="nombre_plan" placeholder="Ingrese nombre plan" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="number" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="costo" id="costo" placeholder="Ingrese costo" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="number" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="cant_anaqueles" id="cant_anaqueles" placeholder="Ingrese cantidad de anaqueles" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="number" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="capacidad" id="capacidad" placeholder="Ingrese capacidad m3" autofocus>
                </div>

                <div class="d-grid gap-5 d-md-flex justify-content-md-center" style="padding-top: 15%;">
                    <a href="{% url 'ADMPLAN' %}"><button class="btn btn-danger btn-lg me-md-5"
                            type="button">Cancelar</button></a>
                    <button class="btn btn-success btn-lg" type="submit">Confirmar</button>
                </div>
        </form>
    </div>
    </div>
</section>
{% endblock %}