{% extends 'Admin/baseAdmin.html' %}
{% load static %}
{% block titulo %}

{% endblock %}
{% block content %}
<div style="padding: 4%;"></div>
<div style="text-align: center; color: aliceblue;">
    <h1>Agregar Producto</h1>
</div>
<section class="d-flex justify-content-center " id="formulario">
    <div class="card col-sm-6 p-3" style="background-color: gray;">
        <div class="mb-2">
            <form action="{% url 'AGREPRODUCTO' %}" method="POST" id="form" onsubmit="return validarProducto(event) ">
                {% csrf_token %}
                 <script>
                    {% if mensaje %}
                        Swal.fire({
                            title: 'Error al guardar',
                            text: '{{ mensaje }}',    
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        });
                    {% endif %}
                </script>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="nombre_pro" id="nombre_pro" placeholder="Ingrese nombre producto" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="number" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="stock" id="stock" placeholder="Ingrese stock" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <label for="selectBodega">Selecciona una bodega:</label>
                    <select class="form-select" aria-label="Default select example" id="selectBodega">
                        <option selected value="0">Bodega</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-2 form-input">
                    <label for="selectCliente">Seleccione un cliente:</label>
                    <select class="form-select" aria-label="Default select example" id="selectCliente">
                        <option selected value="0">Cliente</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-2 form-input">
                    <label for="selectSector">Selecciona un sector:</label>
                    <select class="form-select" aria-label="Default select example" id="selectSector">
                        <option selected value="0">Sector</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="formFileProducto" class="form-label">Subir foto</label>
                    <input class="form-control" type="file" id="formFileProducto">
                </div>
                <div class="d-grid gap-5 d-md-flex justify-content-md-center" style="padding-top: 15%;">
                    <a href="{% url 'ADMPRODUCTO' %}"><button class="btn btn-danger btn-lg me-md-5"
                            type="button">Cancelar</button></a>
                    <button class="btn btn-success btn-lg" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}