{% extends 'Admin/baseAdmin.html' %}
{% load static %}
{% block titulo %}
Agregar Cliente
{% endblock %}
{% block content %}
<div style="padding: 4%;"></div>
<div style="text-align: center; color: aliceblue;">
    <h1>Agregar Cliente</h1>
</div>
<section class="d-flex justify-content-center " id="formulario">
    <div class="card col-sm-6 p-3" style="background-color: gray;">
        <div class="mb-2">
            <form action="{% url 'AGRECLIENTE' %}" method="POST" id="form" onsubmit="return validarCliente(event)">
                {% csrf_token %}
                <script>
                    {% if error_message %}
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: '{{ error_message }}'
                    });
                    {% endif %}
                </script>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="p_nombre_cli" id="p_nombre_cli" placeholder="Ingrese primer nombre" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="s_nombre_cli" id="s_nombre_cli" placeholder="Ingrese segundo nombre" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="ap_apellido_cli" id="ap_apellido_cli" placeholder="Ingrese apellido paterno" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="am_apellido_cli" id="am_apellido_cli" placeholder="Ingrese apellido materno" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="rut_cli" id="rut_cli" placeholder="Ingrese su RUT" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="email" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="mail_cli" id="mail_cli" placeholder="Ingrese correo electrónico" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <label for="floatingInput">Fecha de nacimiento</label>
                    <input type="date" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="fecha_nac" id="fecha_nac" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="direccion_cli" id="direccion_cli" placeholder="Ingrese dirección" autofocus>
                </div>
                <div class="selectSucursal">
                    <label for="selectTpBodega">Selecciona sucursal:</label>
                    <select class="form-select" aria-label="Default select example" id="selectSucursal"
                    name="selectSucursal">
                        {% for sucursales in sucursal %}
                        <option value="{{ sucursales.id_sucursal }}">{{ sucursales.nombre_sucursal }} - {{sucursales.rut_empresa.nombre_empresa}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-2 form-input">
                    <label for="selectBodega">Selecciona bodega:</label>
                    <select class="form-select" aria-label="Default select example" id="selectBodega"
                        name="selectBodega">
                        {% for bodega in bodega %}
                        <option value="{{ bodega.id_bodega }}">{{ bodega.nombre_bodega }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-2 form-input">
                    <input type="password" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="pass_cli" id="pass_cli" placeholder="Ingrese contraseña" autofocus>
                </div>
                <div class="mb-2 form-input">
                    <input type="password" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="pass_cli_re" id="pass_cli_re" placeholder="repetir contraseña" autofocus>
                </div>
                <input class="colum" type="hidden" name="txtId" id="txtId" value="1">
                <div class="d-grid gap-5 d-md-flex justify-content-md-center" style="padding-top: 15%;">
                    <a href="{% url 'ADMCLIENTE' %}"><button class="btn btn-danger btn-lg me-md-5"
                            type="button">Cancelar</button></a>
                    <button class="btn btn-success btn-lg" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}