{% extends 'repartidor/baseRepar.html' %}
{% load static %}
{% block titulo %}
Cambiar Estado
{% endblock %}
{% block content %}
<div style="padding: 4%;"></div>
<div style="text-align: center; color: aliceblue;">
    <h1>Actualizar estado de entrega</h1>
</div>
<section class="d-flex justify-content-center" id="formulario">
    <div class="card col-sm-6 p-3" style="background-color: gray;">
        <div class="mb-2">
            <form action="{% url 'MODIFDESP' despacho.id_despacho %}" method="POST" id="form"
                onsubmit="return validarDespacho(event)">
                {% csrf_token %}
                <input class="colum" type="hidden" name="txtId" id="txtId" value="{{despacho.id_despacho}}">
                <label for="nombre_producto">Nombre producto:</label>
                <div class="mb-2 form-input nombre">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="nombre_producto" id="nombre_producto" autofocus readonly
                        value="{{despacho.id_producto.nombre_producto}}">
                </div>
                <label for="rut_cli">RUT Cliente:</label>
                <div class="mb-2 form-input nombre">
                    <input type="text" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="rut_cli" id="rut_cli" autofocus readonly value="{{despacho.rut.rut.rut}}">

                </div>
                <label for="TEntrega">Tiempo de entrega (Min.):</label>
                <div class="mb-2 form-input nombre">
                    <input type="number" class="form-control" style="border-radius: 10px; text-align: center;"
                        name="TEntrega" id="TEntrega" value="{{despacho.tiempo_entrega}}">
                </div>
                <div class="mb-2 form-input">
                    <label for="estado">Seleccione estado:</label>
                    <select class="form-select" aria-label="Default select example" id="estado" name="estado">
                        {% for value, label in opEst %}
                        {% if value == despacho.estado %}
                        <option selected value="{{ value }}">{{ label }}</option>
                        {% else %}
                        <option value="{{ value }}">{{ label }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="d-grid gap-5 d-md-flex justify-content-md-center" style="padding-top: 15%;">
                    <a href="{% url 'ENTREGAREPA' %}">
                        <button class="btn btn-danger btn-lg me-md-5" type="button">Cancelar</button>
                    </a>
                    <button class="btn btn-success btn-lg" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}